.dashboard {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 108px);

  &-section {
    padding-top: 2rem;

    &-container {
      padding: 1rem;
      border-radius: 12px;
      background-color: var(--btn-auth-bg);
    }

    &-header {
      margin-bottom: 1rem;
    }
  }
}

.posts {
  display: flex;
  flex-wrap: wrap;

  &-card-container {
    margin-bottom: 30px;
  }

  &-card {
    width: 100%;
    height: 100%;
    padding: 1rem;
    border-radius: 12px;

    display: flex;
    flex-direction: column;

    background-color: #fff;

    &-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &-status {
      display: flex;
      align-items: center;

      h3 {
        font-size: 1.1rem;
        margin-right: 1rem;
      }

      span {
        font-family: 'Alegreya Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 1.4rem;
        text-transform: capitalize;
        padding: 0.2rem 0.6rem;
        border-radius: 4px;

        color: #fff;
        background-color: var(--status-bg);
        box-shadow: 0 0 10px var(--status-shadow);
      }

      .status-ouvert {
        --status-bg: green;
        --status-shadow: rgba(0, 128, 0, 0.5);
      }
    }

    &-actions {
      display: flex;

      &-btn {
        width: 35px;
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 1.2rem;
        border-radius: 50%;
        box-shadow: 0 0 10px rgba($color: #000, $alpha: 0.2);

        color: var(--text-1);
        &:hover {
          color: var(--text-1-hover);
          background-color: rgba($color: #000, $alpha: 0.05);
        }

        & + & {
          margin-left: 0.5rem;
        }
      }
    }

    &-title {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;

      min-height: 96px;
      margin-top: 0.9rem;

      font-family: 'Alegreya Sans';
      font-style: italic;
      font-weight: 900;
      font-size: 2rem;
    }

    &-info {
      margin-top: 0.6rem;

      h3 {
        font-size: 1rem;
      }

      &-fac {
        display: flex;
        align-items: center;
        margin-top: 0.4rem;

        padding: 0.4rem;
        border-radius: 8px;
        border: 1px solid rgba($color: #000, $alpha: 0.2);

        span {
          flex-grow: 1;
          text-align: center;
          font-size: 1.3rem;
        }

        img {
          width: 60px;
          height: auto;
        }
      }

      &-text {
        flex-grow: 1;

        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 0.4rem;
        min-height: 74px;

        font-size: 1.3rem;
        padding: 0.4rem;
        border-radius: 8px;
        border: 1px solid rgba($color: #000, $alpha: 0.1);
      }

      > div {
        margin-top: 1rem;

        i {
          color: var(--text-1);
          margin-left: 0.3rem;
        }
      }
    }

    &-themes {
      display: flex;
      flex-direction: column;
      margin-top: 1.5rem;

      h3 {
        font-size: 1.3rem;
        margin-bottom: 0.5rem;
      }
      &-container {
        display: flex;
        counter-reset: number;
      }
      &-card {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: center;

        margin: 0.2rem;
        padding: 0.5rem;
        border-radius: 12px;
        color: #fff;

        h4 {
          counter-increment: number;
          &::after {
            content: ' ' counter(number);
          }
        }

        span {
          font-size: 3rem;
        }

        @for $i from 1 through 5 {
          &:nth-child(#{$i}) {
            background-color: var(--theme-#{$i});
          }
        }
      }
    }
  }

  &-add-card {
    height: 100%;
    min-height: 393px;
    width: 100%;
    border-radius: 12px;
    border: 3px dashed var(--text-1);

    &-btn {
      border-radius: 12px;

      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      color: var(--text-1);
      font-size: 5rem;

      &:hover {
        color: var(--text-1-hover);
        background-color: rgba($color: #000, $alpha: 0.1);
      }
      transition: background-color 0.3s ease, color 0.3s ease;
    }
  }
}

.search {
  display: flex;
  flex-direction: column;
  .container {
    flex-grow: 1;
  }

  padding: 2rem 0;

  &-box {
    position: relative;
    min-height: 500px;
    max-height: 80vh;

    display: flex;
    flex-direction: column;
    align-items: center;

    &-bg {
      z-index: -1;
      position: absolute;
      height: 100%;
      width: 100%;
      max-height: 100%;
      max-width: 100%;

      .carousel {
        width: 100%;
        height: 100%;

        &-inner,
        &-item {
          height: 100%;
          border-radius: 8px;
        }

        img {
          object-fit: cover;
          height: 100%;
          width: 100%;

          filter: blur(3px) brightness(40%);
        }
      }
    }

    &-form {
      flex-grow: 1;
      height: 100%;
      width: 100%;
      padding: 3rem;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      &-header {
        font-family: 'Alegreya Sans';
        font-style: italic;
        font-weight: 900;
        text-align: center;
        font-size: 5rem;
        color: #fff;
        margin-bottom: 3rem;
      }
      &-text {
        margin-bottom: 3rem;
      }
      &-selects {
        display: flex;
        margin-bottom: 2rem;

        > div {
          margin: 3rem;
          width: 30%;
        }

        .input-label {
          color: #fff;
          font-size: 1.2rem;
          font-weight: 500;
        }

        @media (max-width: 767.98px) {
          flex-direction: column;

          > div {
            margin: 3rem 0 0;
            width: 100%;
          }
        }
      }

      .owl-stage-outer {
        overflow: hidden;
      }
      .owl-stage {
        display: flex;
        flex-direction: row;
      }
    }
  }

  &-results {
    .btn-search-con {
      height: 74px;
      margin-top: 1rem;
      border-radius: 8px;

      color: var(--btn-1-color);
      background-color: var(--btn-1-bg);
      &:hover {
        background-color: var(--btn-1-bg-hover);
      }

      i {
        font-size: 2rem;
      }
      span {
        font-size: 2rem;
        font-family: 'Ubuntu Mono';
        font-style: italic;
        font-weight: 500;
      }
    }
  }
}

.add_post.dashboard .posts-card {
  background-color: #ffffff88;
  box-shadow: 0 0 10px rgba($color: #000, $alpha: 0.1);

  .posts-card-header {
    height: 35px;
  }
  .delete-theme-btn i {
    pointer-events: none;
  }
}
